$navColor: #020203;
$cardColor: #FBFBFB;
$radarColor: #282D30;
$lineColor: #FF0000;
$secondary-textColor: #74798C;

$primary-font: 'Roboto', sans-serif;

// BARCHART
$calorieColor: #E60000;
$poidsColor: #282D30;
